@model ResultWithResultAnswersViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var testScore = Math.Round(Model.ResultModel.Score * 100, 1) + "%";

    var testDuaration = TimeSpan.FromMinutes(Model.ResultModel.Test.TestDuration).ToString(@"hh\:mm");
    var resultFinishTime = (Model.ResultModel.FinishedAt - Model.ResultModel.StartedAt).ToString(@"hh\:mm\:ss");
}

<div class="my-3">
    <a class="btn btn-outline-danger mx-1" style="width: 130px;" href="@Url.Action("TestResults", "Admin")">Back to results</a>
</div>

<div class="text-center my-3">
    <h4>Test: @Model.ResultModel.Test.Name</h4>
    <h4>Test description: @Model.ResultModel.Test.Description</h4>
    <h4>Test duration: @testDuaration</h4>
    <br />
    <h4>User: @Model.ResultModel.UserName</h4>
    <h4>User's score: @testScore</h4>
    <h4>Time spent: @resultFinishTime</h4>
</div>

<div class="my-5">
    <div style="font-weight: bold; font-size: 22px;">Questions:</div>

    @foreach (var resultAnswer in Model.ResultAnswerModels)
    {
        <div class="my-3 border"  style="padding: 0 20px; padding-top: 10px;">
            <div style="font-weight: bold; font-size: 20px;">@resultAnswer.Key</div>
            <div style="font-size: 20px; margin-left: 20px;">Answers:</div>

            <div class="mt-1" style="margin-left: 50px; font-size: 18px;">
                <table>
                    @foreach (var answer in resultAnswer)
                    {
                        <tr>
                            @if (answer.IsCorrect)
                            {
                                <td width="20"><div style="color: green;">✓</div></td>
                                <td><div class="border-bottom" style="color: green;">@answer.AnswerText</div></td>
                            }
                            else
                            {
                                <td width="20"><div style="color: red;">✕</div></td>
                                <td><div class="border-bottom" style="color: red;">@answer.AnswerText</div></td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
