@model LX.TestPad.Business.Models.TestModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row box-shadow mb-3">   
    <dl class="row col-sm-6 ">
        <dt class="col-sm-4">
            Test Name
        </dt>
        <dd class="col-sm-8">
            @Model.Name
        </dd>
        <dt class="col-sm-4">
            Description
        </dt>
        <dd class="col-sm-8">
            @Model.Description
        </dd>
        <dt class="col-sm-4">
            Test Duration
        </dt>
        <dd class="col-sm-8">
            @Model.TestDuration
        </dd>
    </dl>
    <br>
</div>
    <a asp-action="Questions" asp-route-testId="@Model.Id" class="btn btn-outline-info">Edit Questions</a>
    <a asp-action="Questions" class="btn btn-outline-info">Add Question from existing test</a>

<a asp-action="DeleteTest" asp-route-id="@Model.Id" class="text-danger">Delete Test</a><br>