@model LX.TestPad.Business.Models.TestModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Test Information</h1>

<form asp-action="UpdateTest" asp-route-id="@Model.Id" method="post">
    <div>
        <label asp-for="Name" style="font-weight:bold">Test Name:</label>
        <p id="Name-text">@Model.Name</p>
        <input type="text" asp-for="Name" id="Name" style="display:none"/>
    </div>
    <div>
        <label asp-for="Description" style="font-weight:bold">Description:</label>
        <p id="Description-text">@Model.Description</p>
        <input type="text" asp-for="Description" id="Description" style="display:none"/>
    </div>
    <div>
        <label asp-for="TestDuration" style="font-weight:bold">Test Duration:</label>
        <p id="TestDuration-text">@Model.TestDuration</p>
        <input asp-for="TestDuration" id="TestDuration" style="display:none"/>
    </div>
    <div>
        <input type="submit" value="Save" id="saveButton" style="display:none"/>
        <input type="button" value="Edit" id="editButton" onclick="toggleEditing()" />
    </div>
</form>
<a asp-action="TestQuestions" asp-route-testId="@Model.Id" class="btn btn-outline-info">Edit Questions</a>

<a asp-action="DeleteTest" asp-route-id="@Model.Id" class="text-danger">Delete Test</a><br>

<script>
function toggleEditing() {
    var NameText = document.getElementById("Name-text");
    var DescriptionText = document.getElementById("Description-text");
    var TestDurationText = document.getElementById("TestDuration-text");
    var Name = document.getElementById("Name");
    var Description = document.getElementById("Description");
    var TestDuration = document.getElementById("TestDuration");
    var saveButton = document.getElementById("saveButton");
    var editButton = document.getElementById("editButton");

    if (Name.style.display === "none") {
        NameText.style.display = "none";
        DescriptionText.style.display = "none";
        TestDurationText.style.display = "none";
        Name.style.display = "inline";
        Description.style.display = "inline";
        TestDuration.style.display = "inline";
        saveButton.style.display = "inline";
        editButton.style.display = "none";
    } else {
        NameText.style.display = "inline";
        DescriptionText.style.display = "inline";
        TestDurationText.style.display = "inline";
        Name.style.display = "none";
        Description.style.display = "none";
        TestDuration.style.display = "none";
        saveButton.style.display = "none";
        editButton.style.display = "inline";
    }
}
</script>