@model List<LX.TestPad.Business.Models.ResultIncludeTestModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Test results";
}

<div class="my-3">
    <a class="btn btn-outline-danger mx-1" style="width: 130px;" href="@Url.Action("Index", "Admin")">Back to tests</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <div class="text-center">Test name</div>
            </th>
            <th>
                <div class="text-center">UserName</div>
            </th>
            <th>
                <div class="text-center">Score</div>
            </th>
            <th>
                <div class="text-center">Started at (UTC)</div>
            </th>
            <th>
                <div class="text-center">Finished at (UTC)</div>
            </th>
            <th>
                <div class="text-center"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {

            <tr class="box-shadow">
                <td>
                    <div class="text-center">@result.Test.Name</div>
                </td>
                <td>
                    <div class="text-center">@result.UserName @result.UserSurname</div>
                </td>
                <td>
                    <div class="text-center">@result.Score</div>
                </td>
                <td>
                    <div class="text-center">@result.StartedAt</div>
                </td>
                <td>
                    <div class="text-center">@result.FinishedAt</div>
                </td>
                <td class="text-center">
                    <a asp-action="ResultDetails" asp-route-resultId="@result.Id" class="text-info">Details</a><br>
                </td>
            </tr>
        }
    </tbody>
</table>