@model List<LX.TestPad.Business.Models.ResultModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{

    <form class="m-lg-5 text-lg-center" action="@Url.Action("SearchResult", "Admin")" method="get">
        <input class="m-lg-0" type="search" style="width: 200px" maxlength="50" name="query" placeholder="Search Result" />
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <div class="text-center">Test id</div>
            </th>
            <th>
                <div class="text-center">UserName</div>
            </th>
            <th>
                <div class="text-center">Score</div>
            </th>
            <th>
                <div class="text-center">Started at (UTC)</div>
            </th>
            <th>
                <div class="text-center">Finished at (UTC)</div>
            </th>
            <th>
                <div class="text-center"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {

            <tr class="box-shadow">
                <td>
                    <div class="text-center">@result.TestId</div>
                </td>
                <td>
                    <div class="text-center">@result.UserName @result.UserSurname</div>
                </td>
                <td>
                    <div class="text-center">@result.Score</div>
                </td>
                <td>
                    <div class="text-center">@result.StartedAt</div>
                </td>
                <td>
                    <div class="text-center">@result.FinishedAt</div>
                </td>
                <td class="text-center">
                    <a asp-action="ResultDetails" class="text-info">Details</a><br>
                </td>
            </tr>
        }
    </tbody>
</table>