@model List<LX.TestPad.Business.Models.TestQuestionModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Questions</h1>
</div>
<div>
    <a asp-action="CreateQuestion" asp-route-testId="@ViewBag.TestId" class="btn btn-outline-info">Create Question</a>
</div>
@foreach(var testQuestion in @Model){

<div class="flex-lg-wrap" style="height:auto">

  <label style="font-weight: bold">@testQuestion.QuestionWithAnswersModel.Text</label>
        <a asp-action="CreateAnswer" asp-route-questionId="@testQuestion.QuestionId" asp-route-testId="@testQuestion.TestId" class="text-info">Add Answer</a>
        <form asp-action="DeleteTestQuestion" asp-route-id="@testQuestion.QuestionId" asp-route-testId="@testQuestion.TestId" style="display: inline" method="post">
                    <input type="submit" class="text-danger" value="Delete Question">
        </form>

        @foreach(var answer in testQuestion.QuestionWithAnswersModel.Answers)
        {
            <form asp-action="DeleteAnswer" asp-route-id="@answer.Id" asp-route-testId="@testQuestion.TestId" method="post">
            @if(answer.IsCorrect == true)
            {
                <label>• @answer.Text (✅)</label>
            }
            else
            {
                <label>• @answer.Text</label>               
            }        
                <input type="submit" class="text-danger" value="✗" />
            </form>

        }

</div>
}
<p>
    <a href="@Url.Action("Index", "Admin")">Back to tests</a>
</p>