@model LX.TestPad.Business.Models.QuestionWithAnswersModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">@Model.Text</h1>
</div>

<form asp-action="SendUserAnswer" asp-route-resultId="@ViewBag.resultId"
 asp-route-questionNumber="@ViewBag.questionNumber" method="post">
@foreach(var answer in Model.Answers){
<div style="height:auto">
  <input type="checkbox" id="@answer.Id" value="@answer.Id" name="AnswersIds">
  <label for="@answer.Id" >@answer.Text</label>
</div>
}
<button type="submit" class="btn btn-success" id="Nextbtn" disabled>Next</button>
</form>

@section scripts {
    <script>
        $('input[type="checkbox"]').change(function() {
        if ($('input[type="checkbox"]:checked').length > 0) {
            $('#Nextbtn').prop('disabled', false);
        } else {
            $('#Nextbtn').prop('disabled', true);
        }
        });
    </script>
}