@model LX.TestPad.Business.Models.QuestionWithAnswersModel

<div class="text-center">
    <h1 class="display-4">@Model.Text</h1>
</div>

<form asp-action="Question" asp-route-resultId="@ViewBag.resultId"
asp-route-answerId="1" asp-route-num="@ViewBag.num" method="post">
@foreach(var answer in Model.Answers){
<div style="height:auto">
  <input class="{answers: true}" type="checkbox" id="@answer.Id" value="@answer.Text" name="answers">@answer.Text
</div>
}
<button type="submit" class="btn btn-success">Next</button>
</form>
