@using LX.TestPad.Business.Models
@model LX.TestPad.Business.Models.TestQuestionModel

@{

    string GetInputType(TestQuestionModel model)
    {
        return model.IsMultipleCorrectAnswers ? "checkbox" : "radio";
    }

}

<style>
        code {
            font-family: "Courier New", monospace;
            font-size: 10pt;
        }
</style>

<div id="question-container">
    <ul class="list-group">
        <li class="list-group-item">
            <h3 style=" text-align: left;">@Model.Question.Text</h3>
        </li>
        @if (!string.IsNullOrWhiteSpace(Model.Question.CodeSnippet))
        {
            <li class="list-group-item">
                <code>
                    <pre>@Model.Question.CodeSnippet</pre>
                </code>
            </li>
        }
        <li class="list-group-item" style=" text-align: left;">
            <b style=" text-align: center; font-size: 24px; margin-top: 0;" id="timer"> </b>
        </li>

        @foreach (var answer in Model.Question.Answers)
        {
            <li class="list-group-item" for="@answer.Id">
                <input type="@GetInputType(Model)" id="@answer.Id" value="@answer.Id" name="answersIds"> <b style=" text-align: left; font-size: 16px; margin-left: 15px;"> @answer.Text </b>
            </li>
        }
    </ul>
    <input value="@Model.Number" name="QuestionNumber" id="QuestionNumber" hidden/>
</div>

